.title{
    font-size: 50px;
    margin: 30px;
    font-style: italic;
}

.input{
    width: 50%;
    height: 2rem;
}

.addButton{
    display: inline;
    margin: 5px;
    height: 2rem;
    background-color: #0099cc;
    border: 0;
    border-radius: 5px;
    width: 10%;
}
.addButton:hover {
    background-color: #47d147;
    color: white;
  }